<div class="col s12 m8 offset-m2">
  <div class="card">
    <div class="card-content">
      <a href="/post/1" class="card-title">{{title}}</a>
      <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="divider"></div>
    <div class="card-content">
      <p>{{body}}</p>
    </div>
  </div>
</div>