<div class="card">
  <section class="card-content">
    <div class="card-title teal-text darken-5 center-align">
      Add a New Post
    </div>
    <form class="add-post-form">
      <div class="row">
          <div class="input-field col s12">
              <input id="post-title" type="text"></input>
              <label for="post-title">Title</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
              <textarea id="post-body" class="materialize-textarea"></textarea>
              <label for="post-body">Body</label>
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
              <button type="submit" class="waves-effect waves-light btn right">Add Post</button>
          </div>
      </div>
    </form>
  </section>
</div>

<script src="/javascript/add-post.js"></script>
