<h4>Write a new post</h4>

<div class="new-post-form card">
  <section class="card-content">
    <form class="post-form">
      <div class="row">
        <div class="input-field col s12">
          <input id="post-title" type="text"></input>
          <label for="post-title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="post-body" class="materialize-textarea"></textarea>
          <label for="post-body">Body</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn right">Save Post</button>
        </div>
      </div>
    </form>
  </section>
</div>

{{#if posts.length}}
  <h4>Your Posts</h4>
  {{#each posts as |post|}}
    {{> post-info post}}
  {{/each}}
{{/if}}

<script src="/javascript/add-post.js"></script>
