<h4>New Post</h4>

<div class="new-post-form card">
  <section class="card-content">
    {{> post-form}}
  </section>
</div>

{{#if posts.length}}
  <h4>Your Posts</h4>
  {{#each posts as |post|}}
    {{> post-info post}}
  {{/each}}
{{/if}}

<script src="/javascript/add-post.js"></script>
