<div class="row">
    <form class="col s12 login-form">
        <h4>Log In</h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="login-email" type="email" class="validate">
                <label for="login-email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="login-password" type="password" class="validate">
            <label for="login-password">Password</label>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Log In</button>
    </form>
</div>

<div class="row">
    <form class="col s12 signup-form">
        <h4>Sign Up</h4>
        <div class="row">
            <div class="input-field col s12">
            <input id="signup-email" type="email" class="validate">
            <label for="signup-email">Email</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
            <input id="signup-username" type="text" class="validate">
            <label for="signup-username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="signup-password" type="password" class="validate">
            <label for="signup-password">Password</label>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Sign Up</button>
    </form>
</div>

<script src="/javascript/login.js"></script>