<form class="comment-form">
  <h2>Comments</h2>
  <div>
    <textarea name="comment-body" class="materialize-textarea"></textarea>
  </div>

  <div>
    <button type="submit" class="waves-effect waves-light btn right">add comment</button>
  </div>
</form>

{{> comments}}