<div class="col l6 s12">
    <form class="signup-form">
        <h4>Sign Up</h4>
        <div class="row">
            <div class="input-field col s12">
            <input id="signup-email" type="email" class="validate">
            <label for="signup-email">Email</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
            <input id="signup-username" type="text" class="validate">
            <label for="signup-username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="signup-password" type="password" class="validate">
            <label for="signup-password">Password</label>
            </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn right">Sign Up</button>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>