
/* start materialize sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* end materialize sticky footer */

/* start nav bar styles */
nav {
    padding-left: 16px;
}
/* end nav bar styles */

/* start login form styles */
.hidden {
    display: none;
}
/* end login form styles */

/* start body styles */
.btn-flat:hover {
    background-color: none;
    font-weight: bold;
}
.card {
    border-radius: 5px;
}
form {
    padding-top: 2vh;
}
/* end body styles */